@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --barnco: #ffffffde;
    --preto: #000000;
    --laranja-degrade: linear-gradient(97.54deg, #970505  35.49%, #e9a070 165.37%);
    --fonte-principal: "Poppins";
    --lilas: #d08af0;
    --fonte-secundaria: "IBM Plex Mono";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
